---
layout: default
---

<br />
<div class="row">
  <div class="large-12 columns">
     <h3 class="blog-title">{{ page.title }}</h3>
   </div>
</div>

<div class="row"><!-- start article -->
 <div class="large-9 columns" role="content">
  {{ content }}
 </div>
<!-- start sidebar -->
    <aside class="large-3 columns">
     <h4>From the archives:</h4>
     <ul style="list-style-type: none;">
     {% for post in site.related_posts limit: 10 %}
       <li><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></li>
     {% endfor %}
     </ul>

      <section>
       <p class="small"><a href="/160/blog/archive.html">See the full archive</a></p>
       <p class="small"><a href="/160/feed.xml">Subscribe to Feed</a></p>
      </section>
    </aside><!-- end sidebar -->
</div><!-- close row -->
