---
layout: default
---

<br />
<div class="row">
  <div class="large-12 columns">
     <h3 class="blog-title">{{ page.title }}</h3>
   </div>
</div>

<div class="row"><!-- start article -->
 <div class="large-9 columns" role="content">
  {{ content }}
 </div>
<!-- start sidebar -->
    <aside class="large-3 columns">
     <h4>From the archives:</h4>
     <ul class="">
     {% for post in site.related_posts limit: 10 %}
       <li><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></li>
     {% endfor %}
     </ul>

     <div class="panel">
      <section class="small">
       <h4>About the 160 project</h4>
       <p>The 'This Week in Eureka College History' column commemorates the 160th anniversary of the founding of Eureka College on Feb. 6, 1855. The column is scheduled to run weekly through Feb. 6, 2016.</p>
       <p><a href="/160/blog/archive.html">See the full archive</a></p>
      <p><a href="/160/feed.xml">Subscribe to Feed</a></p>
      </section>
     </div>
    </aside><!-- end sidebar -->
</div><!-- close row -->
